#team {
    margin-top: 100px;
}

.theta_team-heading {
    justify-content: center;
    font-family: var(--font-family);
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
}

.theta_team-imgs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding-right: 50px
}

.theta_team-imgs>* {
    padding-left: 50px;
    padding-bottom: 50px;
}