* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    background: var(--color-bg);
}

a {
    color: unset;
}

a,
a:link,
a:visited,
a:focus,
a:hover,
a:active {
    text-decoration: none;
}

.gradient_bg {
    /* ff 3.6+ */
    background: -moz-radial-gradient(circle at 3% 25%, rgba(137, 141, 196, 1) 0%, rgba(39, 40, 56, 1) 100%);

    /* safari 5.1+,chrome 10+ */
    background: -webkit-radial-gradient(circle at 3% 25%, rgba(137, 141, 196, 1) 0%, rgba(39, 40, 56, 1) 100%);

    /* opera 11.10+ */
    background: -o-radial-gradient(circle at 3% 25%, rgba(137, 141, 196, 1) 0%, rgba(39, 40, 56, 1) 100%);

    /* ie 10+ */
    background: -ms-radial-gradient(circle at 3% 25%, rgba(137, 141, 196, 1) 0%, rgba(39, 40, 56, 1) 100%);

    /* global 92%+ browsers support */
    background: radial-gradient(circle at 3% 25%, rgba(137, 141, 196, 1) 0%, rgba(39, 40, 56, 1) 100%);
}

.gradient_text {
    background: var(--gradient--text);
    -webkit-background-clip: text;
    background-clip: text;
}

.section_padding {
    padding: 1rem 6rem;
}

.section_margin {
    margin: 4rem 6rem;
}

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@media screen and (max-width: 700px) {
    .section_padding {
        padding: 4rem
    }

    .section_margin {
        margin: 4rem
    }
}

@media screen and (max-width: 550px) {
    .section_padding {
        padding: 4rem 2rem;
    }

    .section_margin {
        margin: 4rem 2rem;
    }
}