@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");

:root {
  --font-family: "Inter", sans-serif;

  --gradient-text: linear-gradient(89.97deg, #ae67fa 1.84%, #f49867 102.67%);
  --gradient-bar: linear-gradient(103.22deg, #ae67fa -13.86%, #f49867 99.55%);

  --color-bg: #303245;
  --color-footer: #031b34;
  --color-text: #8cd4dd;
  --color-subtext: #cf7c92;
  /* #898DC4,#5D5F85,#272838,#303245,#242533 */
  /* #3D8DBF,#295E80,#51BBFE,#142F40,#49AAE6 */
  /* #BA495D,#7A303D,#F9627D,#3B171D,#E05871 */
}
